
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
}
::selection{
    background-color: rgb(163, 163, 163);
    color: #05101e;
}
body{
    padding-top: 5rem;
    color: whitesmoke;
    font-family: 'Nunito';
    background-color: #0c2344;
    /* background-color: #273c58; */
}
a{
    text-decoration: none;
    color: whitesmoke;
}
li{
    list-style: none;
}
.navbar{
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 5rem;
    border-radius: 0 0 3rem 3rem;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 0.5rem 1.6rem 0.5rem;
    background-color: #273c58;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.nav-links ul{
    display: flex;
}
.nav-links a{
    font-size: 1.1rem;
    transition: all 0.3s ease;
    text-align: center;
    width: 7rem;
    margin: 0px 10px;
    padding: 4px;
    border-radius: 10px;
}
.nav-links a:hover{
    transform: translateY(-2px);
    /* color: #0c2344;
    background-color: rgb(163, 163, 163); */
}
.logomarca{
    align-items: center;
    font-family: 'Righteous';
    font-size: 2.2rem;
    cursor: default;
    /* font-weight: bold; */
}


#s1-inicio{
    margin-top: 6vh;
    margin-bottom: 6.7vh;
    display: flex;
}
#s1-inicio img{
    border-radius: 0 50px 50px 0;
    height: 30rem;
}
#s1-inicio div{
    text-align: end;
    margin-top: 13vh;
    margin-left: 4vw;
    margin-right: 3vw;
}
#s1-inicio div h1{
    font-size: 5rem;
}
#s1-inicio div button{
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(17, 17, 17,0.7);
    transition: all 0.15s ease;
    font-size: 1.4rem;
    border: none;
    border-radius: 7px;
    padding: 7px 35px;
    background-color: #273c58;
    color: #f1f1f1;
    font-weight: 550;
    margin-right: 4em;
}
#s1-inicio div button:hover{
    /* transform: translateY(-3px); */
    box-shadow: 0px 1px 8px black;
    color: rgb(235, 235, 235);
}
#s1-inicio div button:active{
    transform: scale(0.97);
}

/* seção 2 */

#s2-i{
    box-shadow: 0px 0.6px 30px black;
    background-color: #273c58;
    display: flex;
    padding: 11vh 5vw;
}
#s2-i div{
    font-size: 1.2rem;
    margin: auto 50px;
}
#s2-i img{
    box-shadow: 0px 4px 8px black;
    border-radius: 30px;
    height: 45vh;
}